
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

html {
	background: url('../img/pageBackground.jpeg');
	background-size: cover;
	font-family: 'Source Sans Pro', Sans-Serif;
}

html p {
	line-height: 1.3;
}

body {
	text-align: center;
}

h1, h2 {
	font-family: 'Playfair Display', Serif;
}

#hero {
	padding-top: 20px;
}

.hero_text h1 {
	margin-bottom: 0;
	font-size: 3em;
}

.hero_logo {
	float: left;
	width: 27%;
}

.hero_text {
	float: left;
	width: 48%;
}

nav {
	background: #2196F3;
	text-align: center;
}

nav ul {
	width: 100%;
	margin: auto;
	padding: 20px;
	padding-left: 0px;
}

nav ul li {
	list-style: none;
	display: inline;
	padding: 20px 30px;
	color: white;
}

nav a {
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
}

nav ul li:hover {
	background: blue;
	transition: all 3s;
}

#media {
	background: #2196F3;
	color: #fff;
	position: relative;
	display: none;
}

.media_menu {
	background: #fff;
}

.media_menu img {
	width: 10%;
	float: left;
	padding: 20px;
}

.media_menu img:hover {
	background: blue;
}

.media_menu p {
	float: left;
	font-size: 22px;
	margin-left: 10px;
}

.media_menu .close {
	display: none;
}

.media_nav {
	background: #ff;
	position: absolute;
	display: none;
	top: 80px;
	left: 0px;
	z-index: 2;
}

.media_nav ul {
	margin: auto;
	padding: 0;
}

.media_nav ul li {
	float: none;
	width: 100%;
	border-radius: 0px;
	text-decoration: none;
	list-style: none;
	background: #2196F3;
	padding: 15px;
	color: #fff;
}

.media_nav ul li:hover {
	background: blue;
	transition: all 3s;
}

.media_nav ul a {
	text-decoration: none;
}

.hamburger {
  position: relative;
  float: left;
  width: 60px;
  height: 40px;
  margin: 18px;
  cursor: pointer;
}

.hamburger span {
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  background: #fff;
  transition: 0.6s;
}

.hamburger .one {
  top: 0;
}
.hamburger .two, .hamburger .three {
  top: 15px;
}
.hamburger .four {
  top: 30px;
}

.hamburger.open .one, .hamburger.open .four {
  display: none;
}

.hamburger.open .two {
  transform: rotate(45deg);
}

.hamburger.open .three {
  transform: rotate(-45deg);
}

#fadeImage {
	text-transform: uppercase;
}

footer {
	background: lightgray;
	max-width: 1200px;
	margin: auto;
	border-top: 1px solid black;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

footer .socMed {
	float: right;
	width: 3%;
	height: 3%;
	padding: 8px;
	margin-top: 2px;
}

footer img {
	float: left;
	width: 8%;
	height: 8%;
	padding: 10px;
}

.content_heading {
	margin: 50px 0;
}

@media (max-width: 800px) {
	nav ul li {
		font-size: 12px;
		padding: 10px 10px;
	}
}

@media (max-width: 500px) {
	nav {
		display: none;
	}
	#media {
		display: block;
	}
	.hero_text {
		width: 47%;
		font-size: 12px;
	}
	.hero_text h1 {
		font-size: 2em;
	}
	.hero_logo img {
		width: 85%;
	}
	.hero_pga img {
		width: 20%;
	}
}

/* -- Home Styles -- */

#home_content_wrap {
	max-width: 1200px;
	margin: 0 auto;
	background: linear-gradient(to bottom, white 90%, transparent), url('../img/shagBag.jpeg');
	background-size: cover;
	border-radius: 5px;
}

.home_wrap {
	width: 80%;
	margin: auto;
	padding-bottom: 80px;
}

.home_wrap .left_content {
	float: left;
	width: 60%;
	margin: 0 10px;
	padding: 0 24px 0;
	font-size: 22px;
	text-align: left;
}

.home_wrap .right_content {
	margin-top: 32px;
	float: left;
	width: 28%;
}

.home_wrap .right_content img {
	border: 1px solid black;
	border-radius: 5px;
}

@media (max-width: 800px) {
	
	.home_wrap {
		width: 100%;
	}
	.home_wrap .left_content {
		width: 67%;
		margin: 0px;
		padding: 0px;
		text-align: justify;
	}
	.home_wrap .left_content p {
		margin-left: 30px;
	}
	.home_wrap .right_content {
		float: right;
		margin-right: 20px;
	}
}

@media (max-width: 500px) {
	.home_wrap .left_content {
		width: 100%;
	}
	.home_wrap .left_content p {
		margin: 20px;
	}
	.home_wrap .right_content {
		width: 100%;
		float: none;
	}
	.content_heading {
		font-size: 15px;
	}
}

/* -- Profile Styles -- */

.top_content_profile {
	width: 80%;
	margin: auto;
	text-align: justify;
}

.bottom_content_profile {
	text-align: center;
}

.bottom_content_profile .star_images {
	display: inline-block;
	width: 28%;
}

.bottom_content_profile .star_images img {
	height: 227px;
	width: 150px;
}

/* -- Contact Styles -- */

#contact_content_wrap {
	max-width: 1200px;
	margin: 0 auto;
	background: linear-gradient(to bottom, white 70%, transparent), url('../img/shagBag.jpeg');
	background-size: cover;
	border-radius: 5px;
}

.contact_info_wrap {
	width: 60%;
	margin: auto;
	padding-bottom: 60px;
}

.contact_info_wrap .left_content {
	float: left;
	margin: 0 10px;
	padding: 0 24px 0;
	font-size: 22px;
	text-align: left;
	width: 48%;
}

.contact_info_wrap .right_content {
	margin-top: 32px;
	float: left;
	width: 40%;
}

@media (max-width: 500px) {
	.contact_info_wrap {
		width: 100%;
		margin: auto;
	}

	.contact_info_wrap .left_content {
		float: left;
		margin: 0;
		padding: 0;
		font-size: 22px;
		text-align: center;
		width: 100%;
	}

	.contact_info_wrap .right_content {
		margin-top: 32px;
		float: none;
		width: 100%;
	}
}

/* -- Hours Styles -- */

#content_wrap {
	max-width: 1200px;
	margin: 0 auto;
	background: #fff;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.hours_left_content {
	float: left;
	width: 45%;
	margin: 0 10px;
	padding: 0 24px 0;
	font-size: 22px;
}

.hours_right_content {
	margin-top: 20px;
	float: left;
	width: 45%;
}

@media (max-width: 500px) {
	.hours_left_content {
		float: none;
		width: 100%;
		margin: 0;
		padding: 0;
		font-size: 22px;
	}

	.hours_right_content {
		margin-top: 20px;
		float: none;
		width: 100%;
	}
}

/* -- Schools Styles -- */

#schools_content_wrap {
	max-width: 1200px;
	margin: 0 auto;
	background: linear-gradient(to bottom, white 85%, transparent), url('../img/schools_background.jpeg');
	background-size: cover;
	border-radius: 5px;
}

.schools_wrap {
	width: 93%;
	margin: auto;
	padding-bottom: 120px;
}

.schools_wrap .left_content {
	float: left;
	width: 60%;
	margin: 0 10px;
	padding: 0 24px 0;
	font-size: 22px;
	text-align: left;
}

.schools_wrap .left_content p {
	text-align: left;
	font-size: 18px;
}

.schools_wrap .right_content img {
	margin-top: 40px;
	border-radius: 5px;
}

.schools_wrap .right_content .bottom_image {
	margin-top: 100px;
}

@media (max-width: 500px) {
	.schools_wrap {
		width: 100%;
	}

	.schools_wrap .left_content {
		float: none;
		width: 100%;
		margin: 0;
		padding: 0;
		font-size: 22px;
		text-align: center;
	}

	.schools_wrap .left_content h2 {
		margin: 15px;
		font-size: 25px;
	}

	.schools_wrap .left_content p {
		text-align: justify;
		font-size: 18px;
		margin: 15px;
	}

	.schools_wrap .right_content img {
		margin-top: 0px;
	}

	.schools_wrap .right_content .bottom_image {
		margin-top: 15px;
	}
	.schools_wrap .right_content .bottom_image p {
		margin: 0;
		padding-bottom: 20px;
		color: #fff;
	}
}

/* -- Lessons Styles -- */

#lessons_content_wrap {
	max-width: 1200px;
	margin: 0 auto;
	background: linear-gradient(to bottom, white 87%, transparent), url('../img/school_background.jpeg');
	background-size: cover;
	border-radius: 5px;
}

.lessons_wrap {
	width: 85%;
	margin: auto;
	padding-bottom: 100px;
}

.lessons_wrap .left_content {
	float: left;
	width: 60%;
	margin: 0 10px;
	padding: 0 24px 0;
	font-size: 22px;
	text-align: left;
}

.lessons_wrap .right_content {
	margin-top: 32px;
	float: left;
	width: 28%;
}

.lessons_wrap .right_content img {
	border-radius: 5px;
}

.lessons_wrap .left_content ul {
	text-align: center;
	margin: auto;
}

.lessons_wrap .left_content ul li {
	list-style: none;
	text-align: left;
}

@media (max-width: 500px) {
	.lessons_wrap {
		width: 100%;
		margin: auto;
		padding-bottom: 100px;
	}

	.lessons_wrap .left_content {
		float: none;
		width: 100%;
		margin: 0;
		padding: 0;
		font-size: 22px;
		text-align: justify;
	}

	.lessons_wrap .left_content p {
		margin: 15px;
	}

	.lessons_wrap .left_content h3 {
		text-align: center;
	}

	.lessons_wrap .right_content {
		margin-top: 32px;
		float: none;
		width: 100%;
	}
}

/* -- Reservations Styles -- */

#reservations_content_wrap {
	max-width: 1200px;
	margin: 0 auto;
	background: linear-gradient(to bottom, white 45%, transparent), url('../img/reservations_background.jpeg');
	background-size: cover;
	border-radius: 5px;
}

.reservations_wrap {
	margin: auto;
	width: 90%;
}

.reservations_wrap .left_content {
	float: left;
	width: 31%;
}

.reservations_wrap .left_content p {
	font-size: 12px;
	text-align: left;
}

.boxes {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    text-align: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.boxes input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 1px solid black;
}

.boxes:hover input ~ .checkmark {
    background-color: #ccc;
}

.boxes input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.boxes input:checked ~ .checkmark:after {
    display: block;
}

.boxes .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.reservations_wrap .center_content {
	float: left;
	width: 31%;
	margin: auto;
	margin-top: 50px;
}

.reservations_wrap .center_content form input {
	padding: 10px;
	margin: 20px;
	width: 80%;
	border-radius: 5px;
}

.reservations_wrap .center_content form textarea {
	padding: 20px;
	margin: 10px;
	width: 75%;
	border-radius: 5px;
}

.reservations_wrap .center_content form button {
	padding: 10px;
	width: 50%;
	margin: 10px;
	border-radius: 5px;
	background: #2196F3;
	color: white;
	border: 1px solid black;
}

.reservations_wrap .right_content {
	float: left;
	width: 31%;
	margin-top: 70px;
}

.reservations_wrap .right_content img {
	width: 50%;
	margin-left: 70px;
}

@media (max-width: 500px) {
	.reservations_wrap {
		width: 100%;
	}

	.reservations_wrap .left_content {
		float: none;
		width: 75%;
		margin: 45px;
	}

	.reservations_wrap .center_content {
		float: none;
		width: 100%;
		margin: auto;
		margin-top: 50px;
	}

	.reservations_wrap .right_content {
		float: none;
		width: 100%;
		margin-top: 70px;
	}

	.reservations_wrap .right_content img {
		display: none;
	}
}

/* -- Private Lessons Styles --*/

#privateLessons_content_wrap {
	max-width: 1200px;
	margin: 0 auto;
	background: linear-gradient(to bottom, white 50%, transparent), url('../img/privateLesson.jpeg');
	background-size: cover;
}

.privateLessons_wrap {
	margin: auto;
	width: 80%;
}

.privateLessons_wrap .top_content {
	width: 100%;
	margin: auto;
	text-align: left;
	font-size: 20px;
	margin-bottom: 50px;
}

.privateLessons_wrap .bottom_left_content {
	float: left;
	width: 60%;
	font-size: 20px;
}

.privateLessons_wrap .bottom_left_content table tr th:first-child {
	border-top-left-radius: 5px;
}

.privateLessons_wrap .bottom_left_content table tr th:last-child {
	border-top-right-radius: 5px;
}

.privateLessons_wrap .bottom_left_content table .left_align {
	text-align: left;
}

.privateLessons_wrap .bottom_left_content table tr th {
	padding: 10px;
	font-weight: bolder;
	text-transform: uppercase;
	background: #2196F3;
	color: white;
}

.privateLessons_wrap .bottom_left_content table tr td {
	padding: 10px;
}

.privateLessons_wrap table tr:nth-child(odd) {
	background: #bfbfbf;
	color: black;
}

.privateLessons_wrap table tr:nth-child(even) {
	background: #ddd;
	color: black;
}

.privateLessons_wrap .bottom_right_content {
	float: right;
	width: 37%;
}

.privateLessons_wrap .bottom_right_content img {
	width: 100%;
	border-radius: 5px;
}

@media (max-width: 500px) {
	.privateLessons_wrap {
		width: 100%;
	}
	.privateLessons_wrap .top_content p {
		margin: 15px;
	}
	.privateLessons_wrap .bottom_right_content {
		float: none;
		width: 100%;
	}
	.privateLessons_wrap .bottom_right_content p {
		margin: auto;
		padding-bottom: 10px;
	}
	.privateLessons_wrap .bottom_left_content {
		float: none;
		width: 100%;
	}
}

